html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

.floats.left {
  float: left; }

.floats.right {
  float: right; }

.floats.ad {
  margin-top: 5em; }

figure {
  padding: 0;
  margin: 0; }

img {
  max-width: 100%; }

.load-story-btn {
  text-transform: uppercase;
  border: 1px solid black;
  color: black;
  width: 100%;
  padding: 0.5em 1.35em; }
  @media screen and (min-width: 320px) and (max-width: 560px) {
    .load-story-btn {
      float: left;
      display: block;
      margin-right: 38.19821%;
      width: 100%;
      margin-right: 0; }
      .load-story-btn:last-child {
        margin-right: 0; } }

.myButton {
  margin-top: .7em;
  background-color: transparent;
  border: 1px solid white;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 17px;
  padding: 0.5em 31px;
  text-transform: uppercase;
  text-decoration: none; }

.main-image {
  padding-bottom: 1em;
  clear: both;
  overflow: hidden;
  border-bottom: 1px solid silver; }
  @media screen and (min-width: 320px) and (max-width: 560px) {
    .main-image {
      float: left;
      display: block;
      margin-right: 38.19821%;
      width: 100%;
      margin-top: 0;
      margin-bottom: 1.5em; }
      .main-image:last-child {
        margin-right: 0; } }

.article-wrapper {
  overflow: hidden;
  min-height: 370px;
  max-height: 370px;
  border-bottom: 1px solid silver;
  display: flex !important;
  align-items: center;
  justify-content: center;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .article-wrapper:last-child {
    margin-right: 0; }
  .article-wrapper:nth-child(odd) {
    margin-right: 0; }
  .article-wrapper p:nth-child(4) {
    color: silver;
    text-transform: uppercase;
    font-family: "Gotham SSm A", "Gotham SSm B";
    font-weight: 300;
    font-style: normal;
    font-size: .7em; }
  @media screen and (min-width: 320px) and (max-width: 560px) {
    .article-wrapper {
      float: left;
      display: block;
      margin-right: 38.19821%;
      width: 100%;
      min-height: 0;
      max-height: none;
      margin-bottom: 1em;
      padding-bottom: 1em; }
      .article-wrapper:last-child {
        margin-right: 0; } }

main {
  padding-top: 1em;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  main:last-child {
    margin-right: 0; }
  main article {
    text-align: center;
    background-color: #fffaf6;
    min-height: 340px;
    max-height: 340px;
    padding: 20px; }
  main h1 {
    margin-top: .5em;
    font-size: 2.5em;
    font-family: "Surveyor Display A", "Surveyor Display B";
    font-weight: 300;
    font-style: normal; }
  main p {
    font-family: "Surveyor Display A", "Surveyor Display B";
    font-weight: 300;
    font-style: normal; }
  @media screen and (min-width: 320px) and (max-width: 560px) {
    main {
      float: left;
      display: block;
      margin-right: 38.19821%;
      width: 100%;
      min-height: 0;
      max-height: none; }
      main:last-child {
        margin-right: 0; }
      main main {
        padding-top: 0; }
      main article {
        min-height: 0; }
      main h1 {
        font-size: 2em;
        margin-top: 0; } }

section.sub-category {
  clear: both;
  padding-top: 1.5em; }
  section.sub-category article {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    border-bottom: 1px solid silver;
    border-bottom: 1px solid silver; }
    section.sub-category article:last-child {
      margin-right: 0; }
    section.sub-category article p:nth-child(4) {
      text-transform: uppercase;
      color: silver; }
    section.sub-category article p:nth-child(2n) {
      margin-top: 5em; }
    section.sub-category article h2 {
      font-family: "Gotham SSm A", "Gotham SSm B";
      font-weight: bold;
      font-style: normal;
      font-size: 1em; }
    section.sub-category article p {
      font-family: "Surveyor Display A", "Surveyor Display B";
      font-weight: 300;
      font-style: normal; }
    section.sub-category article p:nth-child(4) {
      font-family: "Gotham SSm A", "Gotham SSm B";
      font-weight: 300;
      font-style: normal;
      font-size: .7em; }
  @media screen and (min-width: 320px) and (max-width: 560px) {
    section.sub-category {
      float: left;
      display: block;
      margin-right: 38.19821%;
      width: 100%;
      height: auto;
      padding-top: 0;
      padding-bottom: 2em; }
      section.sub-category:last-child {
        margin-right: 0; }
      section.sub-category article {
        text-align: center;
        float: left;
        display: block;
        margin-right: 38.19821%;
        width: 100%;
        margin-right: 0;
        margin-top: 1em;
        border-bottom: 1px solid black; }
        section.sub-category article:last-child {
          margin-right: 0; }
        section.sub-category article p {
          margin-top: 0; }
        section.sub-category article p:nth-child(2n) {
          margin-top: 0;
          font-size: .7em; } }

.ecommerce {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-right: 0;
  margin-top: 2em; }
  .ecommerce:last-child {
    margin-right: 0; }
  .ecommerce article {
    border: 1px solid silver;
    padding: 1em;
    margin-bottom: 2em;
    text-align: center;
    font-weight: bold;
    font-family: "Gotham SSm A", "Gotham SSm B";
    font-weight: bold;
    font-style: normal;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .ecommerce article:last-child {
      margin-right: 0; }
  @media screen and (min-width: 320px) and (max-width: 560px) {
    .ecommerce {
      float: left;
      display: block;
      margin-right: 38.19821%;
      width: 100%;
      margin-top: 0em; }
      .ecommerce:last-child {
        margin-right: 0; }
      .ecommerce article {
        float: left;
        display: block;
        margin-right: 38.19821%;
        width: 100%;
        margin-right: 0; }
        .ecommerce article:last-child {
          margin-right: 0; } }

main.search {
  padding-top: 3em; }
  main.search .filter {
    display: none; }
  main.search aside {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%; }
    main.search aside:last-child {
      margin-right: 0; }
    main.search aside li:nth-child(2n) {
      padding: 1.2em 0; }
    main.search aside li:nth-child(1) {
      color: #b80405; }
  main.search .search_bar {
    margin-bottom: 1.2em;
    float: right;
    display: block;
    margin-left: 2.35765%;
    width: 23.23176%; }
    main.search .search_bar:last-child {
      margin-left: 0; }
    main.search .search_bar input {
      float: right;
      display: block;
      margin-left: 2.35765%;
      width: 82.94039%;
      border: none;
      border-bottom: 1px solid black;
      padding: 1em 0 1em;
      color: black; }
      main.search .search_bar input:last-child {
        margin-left: 0; }
  main.search section {
    text-align: center;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%; }
    main.search section:last-child {
      margin-right: 0; }
    main.search section article {
      background-color: white;
      margin-top: 1em;
      padding: 0;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%;
      border-bottom: 1px solid silver; }
      main.search section article:last-child {
        margin-right: 0; }
      main.search section article p:nth-child(4) {
        text-transform: uppercase;
        color: silver; }
      main.search section article:nth-child(4n) {
        margin-right: 0; }
      main.search section article:nth-child(4n+1) {
        clear: left; }
    main.search section .load-more {
      text-align: left;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%;
      clear: both;
      padding-top: 2em;
      margin-bottom: 2em; }
      main.search section .load-more:last-child {
        margin-right: 0; }
  @media screen and (min-width: 320px) and (max-width: 560px) {
    main.search {
      float: left;
      display: block;
      margin-right: 38.19821%;
      width: 100%;
      padding: 3em 0 0 0; }
      main.search:last-child {
        margin-right: 0; }
      main.search .filter {
        display: block;
        text-transform: uppercase;
        text-align: left;
        color: #b80405; }
      main.search aside {
        display: none; }
      main.search .search_bar {
        display: none; }
      main.search section {
        float: left;
        display: block;
        margin-right: 38.19821%;
        width: 100%; }
        main.search section:last-child {
          margin-right: 0; }
        main.search section article {
          float: left;
          display: block;
          margin-right: 38.19821%;
          width: 100%;
          margin-right: 0; }
          main.search section article:last-child {
            margin-right: 0; }
        main.search section .load-more {
          float: left;
          display: block;
          margin-right: 38.19821%;
          width: 100%;
          text-align: center; }
          main.search section .load-more:last-child {
            margin-right: 0; } }

main.story section {
  margin-top: 2em;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  main.story section:last-child {
    margin-right: 0; }
  main.story section aside:nth-child(1) {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%;
    min-height: 439px; }
    main.story section aside:nth-child(1):last-child {
      margin-right: 0; }
    main.story section aside:nth-child(1) figure {
      margin-top: 265px; }
    @media screen and (min-width: 320px) and (max-width: 560px) {
      main.story section aside:nth-child(1) {
        display: none; } }
  main.story section header {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%;
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    min-height: 439px;
    max-height: 439px; }
    main.story section header:last-child {
      margin-right: 0; }
    @media screen and (min-width: 320px) and (max-width: 560px) {
      main.story section header {
        float: left;
        display: block;
        margin-right: 38.19821%;
        width: 100%;
        min-height: 0;
        max-height: none; }
        main.story section header:last-child {
          margin-right: 0; } }
    main.story section header h1 {
      margin: 0;
      text-transform: uppercase; }
      @media screen and (min-width: 320px) and (max-width: 560px) {
        main.story section header h1 {
          display: none; } }
    main.story section header h4 {
      margin-top: 0;
      padding: 1em 0;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      font-weight: normal; }
      @media screen and (min-width: 320px) and (max-width: 560px) {
        main.story section header h4 {
          display: none; } }
    main.story section header p:nth-child(n+4) {
      margin-top: 0;
      text-transform: uppercase; }
    @media screen and (min-width: 320px) and (max-width: 560px) {
      main.story section header {
        float: left;
        display: block;
        margin-right: 38.19821%;
        width: 100%; }
        main.story section header:last-child {
          margin-right: 0; }
        main.story section header p:nth-child(n+4) {
          display: none; }
        main.story section header p:nth-child(3) {
          padding-bottom: 1em;
          margin-top: 9em;
          margin-bottom: 0;
          border-bottom: 1px solid silver; } }
  main.story section aside:nth-child(3) {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%;
    margin-right: 0;
    min-height: 600px; }
    main.story section aside:nth-child(3):last-child {
      margin-right: 0; }
    main.story section aside:nth-child(3) figure {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin-right: 0;
      text-align: right;
      min-height: 439px;
      max-height: 600px; }
      main.story section aside:nth-child(3) figure:last-child {
        margin-right: 0; }
    main.story section aside:nth-child(3) figcaption {
      margin-top: 2em;
      padding-bottom: 2em;
      text-align: justify;
      color: gray;
      font-size: .8em;
      border-bottom: 1px solid black; }
    @media screen and (min-width: 320px) and (max-width: 560px) {
      main.story section aside:nth-child(3) {
        float: left;
        display: block;
        margin-right: 38.19821%;
        width: 100%;
        min-height: 0; }
        main.story section aside:nth-child(3):last-child {
          margin-right: 0; } }
  main.story section article {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%;
    margin-left: 17.05961%;
    text-align: left;
    padding: 0;
    margin-top: -8.3em;
    background-color: white; }
    main.story section article:last-child {
      margin-right: 0; }
    main.story section article p, main.story section article blockquote:nth-child(2) {
      margin-top: 0; }
    main.story section article blockquote {
      padding: 1em; }
    main.story section article .spacer {
      font-size: 2em;
      text-align: center;
      padding-bottom: .5em; }
    @media screen and (min-width: 320px) and (max-width: 560px) {
      main.story section article {
        float: left;
        display: block;
        margin-right: 38.19821%;
        width: 100%;
        margin-left: 0%;
        margin-top: 1em; }
        main.story section article:last-child {
          margin-right: 0; }
        main.story section article blockquote {
          padding: 1em 0; } }
  main.story section aside:nth-child(5) {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%; }
    main.story section aside:nth-child(5):last-child {
      margin-right: 0; }
    main.story section aside:nth-child(5) p {
      font-size: 2em;
      line-height: 1.5em; }
    @media screen and (min-width: 320px) and (max-width: 560px) {
      main.story section aside:nth-child(5) {
        float: left;
        display: block;
        margin-right: 38.19821%;
        width: 100%; }
        main.story section aside:nth-child(5):last-child {
          margin-right: 0; }
        main.story section aside:nth-child(5) p {
          text-align: center;
          clear: both; }
        main.story section aside:nth-child(5) .ad {
          margin-top: auto; } }

a {
  text-decoration: none; }

ul {
  list-style-type: none;
  padding: 0; }

ul li {
  list-style-type: none; }

main {
  clear: both;
  overflow: hidden;
  border-top: 1px solid silver; }

span.italics {
  font-style: italic; }

blockquote {
  padding-right: .2em;
  margin-left: .5em; }

figure.full {
  width: 100%;
  padding: 1em; }

figure.half {
  width: 50%;
  padding: 1em; }

figure.left {
  float: left; }

figure.right {
  float: right; }

body {
  margin: 0; }

.banner-wrapper {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  overflow: hidden; }
  .banner-wrapper:last-child {
    margin-right: 0; }

.slicknav_menu {
  background-color: white !important;
  border: none;
  display: none;
  font-family: "Surveyor Text A", "Surveyor Text B";
  font-weight: 700;
  font-style: normal; }
  @media screen and (min-width: 320px) and (max-width: 560px) {
    .slicknav_menu {
      display: block; } }
  .slicknav_menu .slicknav_brand {
    text-transform: uppercase;
    font-family: "Gotham SSm A", "Gotham SSm B";
    font-weight: 700;
    font-style: normal;
    color: #b80405;
    margin: 11px 5px 6px;
    font-size: 2em !important; }
  .slicknav_menu .slicknav_btn {
    background-color: white;
    color: black;
    font-size: 2em; }
  .slicknav_menu ul li {
    font-family: "Gotham SSm A", "Gotham SSm B";
    font-weight: 700;
    font-style: normal;
    color: #6c4b35;
    text-align: center;
    text-transform: uppercase;
    padding: 1em 0;
    border: 1px solid black;
    border-top: 0;
    margin-left: 0 !important;
    font-size: 1.1em; }
  .slicknav_menu ul li:nth-child(1) {
    border-top: 1px solid black; }
  .slicknav_menu ul li:nth-child(4) {
    display: none; }

.main-wrapper {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%; }
  .main-wrapper:last-child {
    margin-right: 0; }
  .main-wrapper header {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    .main-wrapper header:last-child {
      margin-right: 0; }
    .main-wrapper header .logo {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%;
      text-transform: uppercase;
      color: #b80405; }
      .main-wrapper header .logo:last-child {
        margin-right: 0; }
      .main-wrapper header .logo h1 {
        font-family: "Gotham SSm A", "Gotham SSm B";
        font-weight: 700;
        font-style: normal;
        font-size: 2em; }
    @media screen and (min-width: 320px) and (max-width: 560px) {
      .main-wrapper header {
        display: none; } }
    .main-wrapper header nav {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 74.41059%;
      font-family: "Gotham SSm A", "Gotham SSm B";
      font-weight: 700;
      font-style: normal;
      text-transform: uppercase; }
      .main-wrapper header nav:last-child {
        margin-right: 0; }
      .main-wrapper header nav ul {
        text-align: right; }
      .main-wrapper header nav li {
        margin-top: .67em;
        font-size: .8em;
        display: inline-block;
        padding: 10px 50px 5px 15px;
        border-left: 1px solid #6c4b35;
        height: 35px; }
      .main-wrapper header nav li:nth-child(4) {
        padding-right: 0;
        margin-top: 0;
        vertical-align: middle; }
        .main-wrapper header nav li:nth-child(4) .search {
          margin-top: -1em;
          position: relative;
          top: 0px;
          padding: 5px 25px 5px 20px;
          border: 1px solid #ccc;
          background: white url(http://i.imgur.com/lFkqn.png) left center no-repeat; }
  @media screen and (min-width: 320px) and (max-width: 560px) {
    .main-wrapper {
      float: left;
      display: block;
      margin-right: 1.16509%;
      width: 91.56958%;
      margin-left: 4.21521%;
      border-top: 0; }
      .main-wrapper:last-child {
        margin-right: 0; }
      .main-wrapper nav, .main-wrapper .logo {
        display: none; } }

.banner {
  margin-right: 0;
  text-align: center;
  color: white; }

nav {
  color: #6c4b35; }

.subscribe {
  float: left;
  display: block;
  margin-right: 1.16509%;
  width: 83.13915%;
  margin-left: 8.43042%;
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid black; }
  .subscribe:last-child {
    margin-right: 0; }
  @media screen and (min-width: 320px) and (max-width: 560px) {
    .subscribe {
      float: left;
      display: block;
      margin-right: 1.16509%;
      width: 91.56958%;
      margin-left: 4.21521%;
      margin-top: 1em;
      border-top: 1px solid black; }
      .subscribe:last-child {
        margin-right: 0; } }

footer {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background-color: #1a2d3d;
  color: white; }
  footer:last-child {
    margin-right: 0; }
  footer .footer-wrapper {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    margin-left: 8.5298%;
    overflow: hidden;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin-top: 2em;
    margin-bottom: 2em;
    padding-bottom: 2em; }
    footer .footer-wrapper:last-child {
      margin-right: 0; }
  footer ul {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    footer ul:last-child {
      margin-right: 0; }
    footer ul li:nth-child(2n) {
      margin: .7em 0; }
  footer ul:nth-child(-n+3) li:nth-child(1) {
    text-transform: uppercase;
    border-bottom: 1px solid white; }
  footer input[type="text"] {
    margin-top: .7em;
    width: 100%;
    padding: .5em; }
  @media screen and (min-width: 320px) and (max-width: 560px) {
    footer {
      float: left;
      display: block;
      margin-right: 38.19821%;
      width: 100%; }
      footer:last-child {
        margin-right: 0; }
      footer .footer-wrapper {
        float: left;
        display: block;
        margin-right: 1.16509%;
        width: 83.13915%;
        margin-left: 4.21521%; }
        footer .footer-wrapper:last-child {
          margin-right: 0; }
      footer ul {
        float: left;
        display: block;
        margin-right: 38.19821%;
        width: 100%; }
        footer ul:last-child {
          margin-right: 0; } }
