html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

img {
  max-width: 100%; }

.main-image {
  padding-bottom: 1em;
  border-bottom: 1px solid silver; }

.article-wrapper {
  overflow: hidden;
  min-height: 350px;
  max-height: 350px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
  border-bottom: 1px solid silver;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .article-wrapper:last-child {
    margin-right: 0; }
  .article-wrapper:nth-child(odd) {
    margin-right: 0; }

main article {
  text-align: center;
  min-height: 300px;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background-color: #fffaf6; }
  main article:last-child {
    margin-right: 0; }
  main article h1 {
    font-size: 2em; }
  main article h1, main article p {
    padding: 0 1.5em;
    margin-top: 1.4em; }

footer::after {
  clear: both;
  content: "";
  display: table; }

body {
  margin: 0; }

.banner-wrapper {
  float: left;
  display: block;
  margin-right: 1.16509%;
  width: 91.56958%;
  margin-left: 4.21521%;
  overflow: hidden;
  margin-bottom: 1em;
  border-bottom: 1px solid #6c4b35; }
  .banner-wrapper:last-child {
    margin-right: 0; }

.main-wrapper {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .main-wrapper::after {
    clear: both;
    content: "";
    display: table; }
  .main-wrapper .logo {
    float: left;
    display: block;
    margin-right: 1.16509%;
    width: 40.98703%;
    color: #b80405; }
    .main-wrapper .logo:last-child {
      margin-right: 0; }
  .main-wrapper nav {
    float: left;
    display: block;
    margin-right: 1.16509%;
    width: 57.84788%; }
    .main-wrapper nav:last-child {
      margin-right: 0; }
    .main-wrapper nav ul {
      float: right; }
    .main-wrapper nav li {
      display: inline-block; }

.banner {
  margin-right: 0;
  background-color: #b80405;
  text-align: center;
  overflow: hidden;
  color: white; }

nav {
  color: #6c4b35; }
