.subscribe
	+span-columns(22 of 24)
	+shift(1)
	margin-top: 2em
	text-align: center
	text-transform: uppercase
	border-top: 1px solid black

	+media(min-width 320px max-width 881px, 1)
		+span-columns(22 of 24)
		+shift(1)
		margin-top: 1em
		border-top: 1px solid black

footer
	+span-columns(12)
	background-color: rgb(26,45,61)
	color: white


	.footer-wrapper
		+span-columns(22 of 24)
		+shift(1)
		overflow: hidden
		border-top: 1px solid white
		border-bottom: 1px solid white
		margin-top: 2em
		margin-bottom: 2em
		padding-bottom: 2em
	ul
		+span-columns(3)
			display: inline

		li:nth-child(1n+2)
			+font($surveyor-text,normal,normal)
			margin: .7em 0

	ul:nth-child(3)
		li
			margin-top: .7em

		img
			margin-right: 5px
			height: 21px

	ul:nth-child(-n+3)
		
		li
			font-size: .7em

		li:nth-child(1)
			text-transform: uppercase
			+border-bottom(white)
			+font($gotham,normal,normal)
			font-size: .7em

	ul:nth-child(4)
		li:nth-child(1)
			+font($surveyor-text,normal,normal)
			font-size: .8em
	
	input[type="text"]
		margin-top: .7em
		width: 100%
		padding:.5em
	+media(min-width 320px max-width 881px, 1)
		+span-columns(1)
		
		.footer-wrapper
			+span-columns(20 of 24)
			+shift(1)

		ul
			+span-columns(1)
