body
	margin: 0


.banner-wrapper
	+span-columns(12)
	overflow: hidden
	
.slicknav_menu
	background-color: white!important
	border: none
	display: none
	+font($surveyor,700, normal)
	+media(min-width 320px max-width 881px, 12)
		display: block

	.slicknav_brand
		text-transform: uppercase
		+font($gotham, 700, normal)
		color: $red
		margin: 11px 5px 6px
		font-size: 2em!important
	.slicknav_btn
		background-color: white
		color: black
		font-size: 2em
	ul
		li
			+font($gotham, 700, normal)
			color: $nav-brown
			text-align: center
			text-transform: uppercase
			padding: 1em 0
			border: 1px solid black
			border-top: 0
			margin-left: 0!important
			font-size: 1.1em

		li:nth-child(1)
			border-top: 1px solid black

		li:nth-child(4)
			display: none

.main-wrapper
	+span-columns(11)
	+shift(0.5)

	header
		+span-columns(12)
		.logo 
			+span-columns(10 of 36)
			text-transform: uppercase
			color: $red
			h1
				margin-bottom: 0
				+font($gotham, 700, normal)
				font-size: 2em
		+media(min-width 320px max-width 881px, 1)
				display: none

		nav
			+span-columns(26 of 36)
			+font($gotham, 700, normal)
			text-transform: uppercase
			float: right
			ul
				text-align: right
			li
				margin-top: .67em
				font-size: 10px 
				display: inline-block
				padding: 10px 50px 5px 15px
				border-left: 1px solid $nav-brown
				height: 35px

			li:nth-child(4)
				padding-right: 0
				input
				margin-top: 0
				vertical-align: middle

	+media(min-width 320px max-width 881px, 24)
		+span-columns(22)
		+shift(1)
		border-top: 0
		
		nav, .logo
			display: none

.banner
	+omega()
	text-align: center
	color: white

nav
	color: $nav-brown