body
	margin: 0

.banner-wrapper-mobile
	display:  none
	+media(min-width 320px max-width 850px, 1)
		+span-columns(1)
		overflow: hidden
		text-align: center
		background-color: $red
		color: white
		+font($surveyor,normal, normal)
		font-size: .9em
		font-size: .7em
		position: absolute
		top: 0

.banner-wrapper
	+span-columns(12)
	overflow: hidden
	text-align: center
	background-color: $red
	color: white
	+font($surveyor,normal, normal)
	font-size: .9em

	+media(min-width 320px max-width 850px, 1)
		+span-columns(1)
		font-size: .7em
		position: absolute
		top: 0

.slicknav_menu
	display: none // remove to appear
	+media(min-width 320px max-width 850px, 1)
	margin-top: 2em
	background-color: white!important
	border: none
	+font($surveyor,700, normal)
	+media(min-width 320px max-width 850px, 12)
		display: block

	.logo
		margin-top: 1em
		width: 60%
		float: left
		padding-left: 20px

	.slicknav_icon-bar
		box-shadow: 0 5px 0 $nav-brown!important
	.slicknav_brand
		text-transform: uppercase
		+font($gotham, 700, normal)
		height: 36px
		color: $red
		margin: 11px 5px 6px
		+media(min-width 320px max-width 500px, 1)
			font-size: 2em!important
			width: 69%
			padding-left: 0
	.slicknav_btn
		background-color: white
		color: black
		font-size: 2em
	ul
		li
			+font($gotham, 700, normal)
			color: $nav-brown
			text-align: center
			text-transform: uppercase
			padding: 1em 0
			border: 1px solid black
			border-top: 0
			margin-left: 0!important
			font-size: 1.1em

		li:nth-child(1)
			border-top: 1px solid black

		li:nth-child(4)
			display: none

.main-wrapper
	max-width: 1220px
	margin: 0 auto;
	padding: 0 20px
	overflow: hidden
	margin-bottom: 30px

	+media(min-width 320px max-width 500px, 24)
		+span-columns(22)
		+shift(1)
		border-top: 0
		padding: 0

		nav, .logo
			display: none



.banner
	+omega()
	text-align: center
	color: white

nav
	color: $nav-brown

.nav-wrapper
	background-color: white
	height: 113px
	width: 100%
	position: fixed
	top: 0
	transition: top 0.2s ease-in-out
	-webkit-transition: top 0.2s ease-in-out
	z-index: 10000
	+media(min-width 320px max-width 850px, 24)
		display: none

header
	margin: 0 auto
	max-width: 1220px
	padding: 0 20px
	overflow: hidden
	display: block

.logo
	+span-columns(8 of 36)
	text-transform: uppercase
	color: $red
	h1
		margin-top: 10px
		+font($gotham, 700, normal)
		font-size: 2em
+media(min-width 320px max-width 500px, 1)
		display: none

nav
	+span-columns(26 of 36)
	+font($gotham, 700, normal)
	text-transform: uppercase
	float: right
	ul
		text-align: right
	li
		margin-top: 0
		font-size: 13px
		display: inline-block
		padding: 10px 88px 5px 26px
		border-left: 1px solid $nav-brown
		height: 35px
		letter-spacing: 2px
		width: 17%

	li:nth-child(3)
		margin-right: 15px
	li:nth-child(4)
		padding-right: 0
		width: 33%
		margin-top: 0
		vertical-align: middle

		input
			width: 80%

	form
		position: relative
		width: 100%

		button
			background-color: white


	.inner-addon i
		position: absolute
		top: 31%
		right: 92%

.nav-up
  top: -100px

