$nav-brown: 			rgb(108,75,53)
$red: 						rgb(184,4,5)
$article-border: 	rgb(192,192,192)
$article-bg: 			rgb(255,250,246)

=border-bottom($color)
	border-bottom: 1px solid $color


=article_type
	+border-bottom($article-border)
	p:nth-child(4)
		text-transform: uppercase
		color: $article-border

=article-category
	text-transform: uppercase
	color: $article-border
	
=reset-height
	min-height: 0
	max-height: none

.floats
	&.left
		float: left
	&.right
		float: right
	&.ad
		margin-top: 5em
