.main-image
	padding-bottom: 8px
	clear: both
	overflow: hidden
	margin-bottom: 4px
	+border-bottom($article-border)
	@include media(min-width 320px max-width 500px, 1)
		+span-columns(1)
		margin-top: 0
		margin-bottom: 0


.article-wrapper
	overflow: hidden
	height: 370px
	border-bottom: 1px solid $article-border
	display: flex!important
	align-items: center
	justify-content: center
	+span-columns(10 of 20)
	+omega(odd)


	@include media(min-width 320px max-width 500px, 1)
		+span-columns(1)
		height: auto
		padding-bottom: 1em

.articl-wrapper:nth-child(4)
	@include media(min-width 320px max-width 500px, 1)


main.index
	padding-top: 1em
	+span-columns(12)
	@include media(min-width 320px max-width 500px, 1)
		+span-columns(1)
		padding-top: .5em
		margin-top: 0
	@include media(min-width 501px max-width 850px, 1)
		padding-top: .6em

	article.main
		+article-main
		position: relative
		width: 100%
		margin-top: 1em
		margin-bottom: 1em
		@include media(min-width 320px max-width 500px, 1)
			margin-bottom: 0
	p:nth-child(2)
		font-size: 1em
		padding: 0 10%
		line-height: 21.5px
		@include media(min-width 320px max-width 500px, 1)
			padding: 0

	p:nth-child(3)
		margin-top: 2em
		font-size:	1em

	.post-categories li a
		+font($gotham,normal,normal)
		letter-spacing: .1em
		position: absolute
		bottom: 5%
		left: 50%
		transform: translate(-50%, -50%)
		-webkit-transform: translate(-50%, -50%)
		margin-top: 4em
		+article-category
		@include media(min-width 320px max-width 500px, 1)
			position: relative
			transform: none
			bottom: auto
			left: auto

section.sub-category
	clear: both
	padding-top: 15px
	overflow: hidden
	@include media(min-width 320px max-width 500px, 1)
		display: none!important


	article
		img
			height: 200px
			background-size: cover
			object-fit: cover

		+span-columns(5 of 20)
		+border-bottom($article-border)
		+article_type
		height: 375px
		position: relative
		p:nth-child(2n)
			margin-top: 5em

		h2
			+font($gotham, bold, normal)
			font-size: 1em
			height: 38px

		p
			+font($surveyor-text,300,normal)
			font-size: 1em
			line-height: 1.4em
			height: 66px

		ul

		.post-categories li a
				+font($gotham,normal,normal)
				position: absolute
				bottom: 5%
				left: 0%
				margin-top: 4em
				color: silver
				font-size: 11px

	@include media(min-width 320px max-width 500px, 1)
		+span-columns(1)
		height: auto
		padding-top: 0
		padding-bottom: 2em

		article
			text-align: center
			+span-columns(1)
			+omega()
			margin-top: 1em
			+border-bottom(black)

			p
				margin-top: 0

			p:nth-child(2n)
				margin-top: 0
				font-size: .5em

.ecommerce
	// +span-columns(12)
	+omega()
	margin-top: 1em
	article
		border: 1px solid $article-border
		padding: 1em
		margin-bottom: 2em
		text-align: center
		font-size: .7em
		+font($gotham, bold, normal)
		+span-columns(5 of 20)

		figure
			img
				height: 223px
				object-fit: cover

	@include media(min-width 320px max-width 500px, 1)
		+span-columns(1)
		margin-top: 0em
		article
			+span-columns(1)
			+omega()

