.main-image
	padding-bottom: 1em
	clear: both
	overflow: hidden
	+border-bottom($article-border)
	@include media(min-width 320px max-width 500px, 1)
		+span-columns(1)
		margin-top: 0
		margin-bottom: 1em


.article-wrapper
	overflow: hidden
	height: 370px
	border-bottom: 1px solid $article-border
	display: flex!important
	align-items: center
	justify-content: center
	+span-columns(6)
	+omega(odd)


	@include media(min-width 320px max-width 500px, 1)
		+span-columns(1)
		height: auto
		margin-bottom: 1em
		padding-bottom: 1em

main.index
	padding-top: 1em
	+span-columns(12)
	@include media(min-width 320px max-width 500px, 1)
		+span-columns(1)
		margin-top: 0

	article.main
		+article-main
		position: relative
		width: 100%
		margin-top: 1em
		margin-bottom: 1em

	p:nth-child(2)
		font-size: 1em
		padding: 0 10%
		@include media(min-width 320px max-width 500px, 1)
			padding: 0

	p:nth-child(3)
		margin-top: 2em
		font-size:	1em

	p:nth-child(4), .post-categories li a
		+font(gotham,normal,normal)
		position: absolute
		bottom: 2em
		left: 50%
		transform: translate(-50%, -50%)
		-webkit-transform: translate(-50%, -50%)
		margin-top: 4em
		+article-category
		@include media(min-width 320px max-width 500px, 1)
			position: relative
			transform: none
			bottom: auto
			left: auto





section.sub-category
	clear: both
	padding-top: 1.5em
	overflow: hidden
	@include media(min-width 320px max-width 500px, 1)
		display: none!important


	article
		img
			height: 200px
			background-size: cover

		+span-columns(3)
		+border-bottom($article-border)
		+article_type
		height: 350px
		position: relative
		p:nth-child(2n)
			margin-top: 5em

		h2
			+font($gotham, bold, normal)
			font-size: 1em
			height: 38px

		p
			+font($surveyor-text,300,normal)
			font-size: 1em
			line-height: 1.4em
			height: 66px

		ul

		.post-categories li a
				position: absolute
				+font(gotham,normal,normal)
				bottom: 2%
				left: 0%
				margin-top: 4em
				color: silver
				font-size: .7em

	@include media(min-width 320px max-width 500px, 1)
		+span-columns(1)
		height: auto
		padding-top: 0
		padding-bottom: 2em

		article
			text-align: center
			+span-columns(1)
			+omega()
			margin-top: 1em
			+border-bottom(black)

			p
				margin-top: 0

			p:nth-child(2n)
				margin-top: 0
				font-size: .5em

.ecommerce
	+span-columns(12)
	+omega()
	margin-top: 2em
	article
		border: 1px solid $article-border
		padding: 1em
		margin-bottom: 2em
		text-align: center
		font-size: .7em
		+font($gotham, bold, normal)
		+span-columns(3)

		figure
			img
				height: 223px

	@include media(min-width 320px max-width 500px, 1)
		+span-columns(1)
		margin-top: 0em
		article
			+span-columns(1)
			+omega()

