main.search
	padding-top: 3em

	+media(min-width 320px max-width 881px, 1)
		padding-top: 0em

	.filter
		display: none


	aside
		+span-columns(2)
		+font($gotham, normal, normal)
		text-transform: uppercase

		li:nth-child(2n)
			padding: 1.2em 0

		li:nth-child(1)
			color: $red

		li:nth-child(2)
			font-weight: bold

		h2
			font-size: 1.4em

		li
			font-size: .6em

	.search_bar
		margin-bottom: 1.2em
		+direction-context(right-to-left)
			+span-columns(3 of 12)

		input
			+direction-context(right-to-left)
				+span-columns(10)

			border: none
			border-bottom: 1px solid black
			padding: 1em 0 1em
			color: black

	section
		text-align: center
		+span-columns(10)

		.sub-category-search
			float: right
			+span-columns(3)
			+shift(9)

		.inner-addon
			margin-top: 0
			border: none
			border-bottom: 1px solid black
			i.fa
				transform: translate(6px, 0)!important
				float: left
				margin-top: 5px
			input
				min-width: 83%

		article
		 	+omega(5n)
		 	+sub-article
		 	margin-top: 2em
		 	position: relative
		 	height: 265px
		 	font-size: .65em

		 	p
		 		padding-top: 1em

		.load-more
			clear: both

	+media(min-width 320px max-width 881px, 1)
		+span-columns(1)
		padding: 1em 0

		.filter
			+font($gotham, bold, normal)
			display: block
			text-transform: uppercase
			text-align: left
			color: $red
			font-size: 1em

			i
				color: $nav-brown

			p
				margin: 0

		aside
			display: none

		.search_bar
			display: none

		section
			+span-columns(1)

			article
				+span-columns(1)
				+omega()
				margin-top: 2em
				height: auto

				p:nth-child(4)
					padding-bottom: 1em

			article:nth-child(n+5)
				margin-top: 0

			.load-more
				+span-columns(1)
				text-align: center

		section.search
			.inner-addon
				display: none

	+media(min-width 1035px)
		aside
			+span-columns(2)
			+font($gotham, normal, normal)
			text-transform: uppercase

			li:nth-child(2n)
				padding: 1.2em 0

			li:nth-child(1)
				color: $red

			li:nth-child(2)
				font-weight: bold

			h2
				font-size: 1.5em

			li
				font-size: .7em
