main.story

	section
		margin-top: 2em
		+span-columns(12)

		aside:nth-child(1)
			+span-columns(2)
			position: relative
			height: 439px
			img				
				width: 100%
				position: absolute
				bottom: 0
				float: right
			figure
				
			+media(min-width 320px max-width 881px, 1)
				display: none

		header
			+span-columns(5)
			+border-bottom(black)
			padding-bottom: 1em
			height: 439px
			position: relative			 
			+media(min-width 320px max-width 881px, 1)
				+span-columns(1)
				min-height: 0
				max-height: none
			h1
				margin: 0
				text-transform: uppercase
				font-size: 2.7em
				+font($surveyor-display,normal, normal)

				+media(min-width 320px max-width 881px, 1)
					display: none				

			h4
				margin-top: 0
				padding: 1em 0
				border-top: 1px solid black
				border-bottom: 1px solid black
				font-size: 1em
				+font($surveyor-display,normal, normal)


				+media(min-width 320px max-width 881px, 1)
					display: none


			.date-category
				position: absolute
				bottom: 0
				p
					+article-category

				p:nth-child(1)
					margin-bottom: 0
				p:nth-child(2)
					margin-top: 0


			+media(min-width 320px max-width 881px, 1)
				+span-columns(1)
				
				p:nth-child(n+4)
					display: none

				p:nth-child(3)
					padding-bottom: 1em
					margin-top: 9em
					margin-bottom: 0
					+border-bottom($article-border)


		aside:nth-child(3)
			+span-columns(5)
			+omega()


			figure
				+span-columns(12)
				+omega()
				text-align: right
			img
				max-height: 439px
				min-width: 440px
				width: 100%
				object-fit: cover
			
			figcaption
				+font($gotham,normal,normal)
				margin-top: 2em
				padding-bottom: 2em
				text-align: justify
				color: gray
				font-size: .8em
				+border-bottom(black)

			+media(min-width 320px max-width 881px, 1)
				+span-columns(1)
				min-height: 0

				img
					max-width: 100%;


		article
			+span-columns(5)
			+shift(2)
			text-align: left
			padding: 0
			margin-top: -8.3em
			

			p, blockquote			
				+font($surveyor-text,normal,normal)

			p:nth-child(1)
				margin-top: 10%

			blockquote
				padding: 1em

			p
			.spacer
				font-size: 2em
				padding-bottom: .5em
								
				+media(min-width 320px max-width 1680px, 1)
					+span-columns(1)
					text-align: center 

			figure
				figcaption
					+font($gotham,normal,normal)
					font-size: .6em

			+media(min-width 320px max-width 881px, 1)
				+span-columns(1)
				+shift(0)
				margin-top: 1em

				p:nth-child(1)
					margin-top: 2em

				blockquote
					padding: 1em 0

		aside:nth-child(5)
			+span-columns(5)
			p
				+font($surveyor-text,normal,normal)
				font-size: 2em
				line-height: 1.5em


			.ad

			+media(min-width 320px max-width 881px, 1)
				+span-columns(1)
				
				p
					text-align: center
					clear: both
				.ad
					margin-top: auto

section.ecommerce-story
	+span-columns(12)
	margin-top: 1em
	margin-bottom: 2em

	+media(min-width 320px max-width 881px, 1)
		display: none

	article.bottom
		+span-columns(6)
		+article-main

		p:nth-child(4)
			+article-category
		
	aside.sub-category
		+span-columns(6)
		height: 340px

		article
			+span-columns(6 of 12)
			position: relative
			height: 100%
			p:nth-child(2n)
				position: absolute
				bottom: 0
				margin-bottom: 0px

			h2
				+font($gotham, bold, normal)
				font-size: 1em

			p
				+font($surveyor-display,300,normal)

			p:nth-child(4)
				+article-category

