main.story
	section
		margin-top: 2em
		+media(min-width 320px max-width 850px, 1)
			margin-top: 0
		+span-columns(12)


		aside:nth-child(1)
			+span-columns(2)
			position: relative
			height: 380px
			+media(min-width 320px max-width 850px, 1)
				display: none

			img
				width: 100%
				position: absolute
				bottom: 0
				float: right

		header
			+span-columns(5.3 of 12)
			+border-bottom(black)
			padding-bottom: 1em
			height: 380px
			position: relative
			padding-left: 0

			+media(min-width 320px max-width 850px, 1)
				+span-columns(1)
				padding-bottom: 0
				height: 250px
				margin-bottom: 10px

			h1
				margin: 0
				text-transform: uppercase
				font-size: 2.7em
				+font($surveyor-display,normal, normal)

				+media(min-width 320px max-width 850px, 1)
					font-size: 2em
					margin-top: 1em

			h4
				margin-top: 0
				padding: 1em 0
				border-top: 1px solid black
				border-bottom: 1px solid black
				font-size: 1em
				+font($surveyor-display,normal, normal)
				+media(min-width 320px max-width 850px, 1)
					padding: 0
					border-top: none
					border-bottom: 1px solid silver
			.date-category
				position: absolute
				bottom: 0
				+article-category
				ul.post-categories
					margin-top: 0
					+article-category
					font-size: 1em

				p:nth-child(1)
					margin-bottom: 0
				p:nth-child(2)
					margin-top: 0

				+media(min-width 320px max-width 850px, 1)
					+span-columns(1)

					p:nth-child(3)
						padding-bottom: 1em
						margin-top: 9em
						margin-bottom: 0
						+border-bottom($article-border)
						+media(min-width 320px max-width 850px, 1)
							border-bottom: none
		h1.second-area
			height: 100px

		aside:nth-child(3)
			+span-columns(13.7 of 36)
			+omega()

			figure
				text-align: right

			img
				height: 380px
				width: 100%
				object-fit: cover



			+media(min-width 320px max-width 850px, 1)
				+span-columns(1)
				padding-top: .9em

				figure
					+span-columns(1)

				img
					max-height: none
					min-width: 0

			figcaption
				+font($gotham,normal,normal)
				height: 79px
				margin-top: 2em
				padding-bottom: 2em
				text-align: justify
				color: gray
				font-size: .7em
				+border-bottom(black)
				+media(min-width 320px max-width 850px, 1)
					margin-top: 0
					height: auto
					padding-top: 1em
					padding-bottom: 1em

		aside.no_large_image_story
			+span-columns(13.7 of 36)
			+omega()
			height: 485.391px

			+media(min-width 320px max-width 850px, 1)
				display: none


		article
			+span-columns(9)
			+shift(2)
			text-align: left
			padding: 0
			margin-top: -8.3em

			+media(min-width 320px max-width 500px, 1)
				+span-columns(1)
				+shift(0)
				margin-top: 0
				margin-bottom: 0

			+media(min-width 501px max-width 850px, 1)
				+span-columns(1)
				+shift(0)
				margin-top: 0
				margin-bottom: 0
				padding: 0 85px


			p, blockquote p
				overflow: hidden
				font-size: 22px
				color: rgba(0, 0, 0, 0.8)
				letter-spacing: .01rem
				line-height: 1.5;
				+media(min-width 320px max-width 850px, 1)
					font-size: 1.2em

			p
				+span-columns(18 of 32)
				+font($surveyor-text,normal,normal)
				margin-top: 0

				+media(min-width 320px max-width 850px, 1)
					+span-columns(1)

			blockquote p
				+font($surveyor-display,normal,normal)
				// once again wordpress adds a p element inside blockquote
				margin: 0 0 20px 0!important
				+span-columns(17 of 32)
				+media(min-width 320px max-width 850px, 1)
					+span-columns(1)

			.float-right
				+span-columns(14 of 32)
				float: right!important
				margin-right: 0
				clear: both
				padding-left: 20px
				+media(min-width 320px max-width 850px, 1)
					+span-columns(1)
					float: none!important
					padding-left: 0


			#div-gpt-ad-1443629402046-39
				height: 280px
				width: 336px
				float: right
				margin-bottom: 1em
				+media(min-width 320px max-width 850px, 1)
					width: 100%
					float: right
					text-align: center

			p:first-child
				margin-top: 5.5%

				+media(min-width 320px max-width 850px, 1)
					+span-columns(1)
					margin-top: 1em

			.spacer
				+span-columns(18 of 32)
				font-size: 1.4em
				padding-bottom: .5em
				text-align: center

				+media(min-width 320px max-width 850px, 1)
					+span-columns(1)


			figure
				+span-columns(18 of 32)
				+media(min-width 320px max-width 850px, 1)
					+span-columns(1)
				// hack for wordpress not to display p in figure (weird bug)
				p
					display: none
				&.full-image
					+span-columns(32 of 32)
					+media(min-width 320px max-width 850px, 1)
						+span-columns(1)

				figcaption
					+font($gotham,normal,normal)
					font-size: .8em

			p.float-none
				overflow: hidden
				float: initial!important
				width: 50%

				+media(min-width 320px max-width 850px, 1)
					+span-columns(1)

			.quote-text,
				+font($surveyor-text,normal,normal)

				+media(min-width 320px max-width 850px, 1)
					+span-columns(1)
					border-top: 1px solid black
					border-bottom: 1px solid black
					padding: 15px 0


			.quote-text
				font-size: 2em
				line-height: 1.5em

			.foot-notes
				color: gray
				font-size: 1.2em
				+font($surveyor-text,normal,normal)

				+media(min-width 320px max-width 850px, 1)
					+span-columns(1)
					border-top: 1px solid black
					border-bottom: 1px solid black
					padding: 15px 0


			.quote
				+span-columns(32 of 32)
				text-align: center

				+media(min-width 320px max-width 850px, 1)
					+span-columns(1)

section.ecommerce-story
	+span-columns(12)
	margin-top: 1em
	//margin-bottom: 2em
	position: relative
	height: 340px

	+media(min-width 320px max-width 850px, 1)
		display: none

	article.bottom
		+span-columns(6)
		+article-main

		p:nth-child(2)
			line-height: 1.4em
		ul.post-categories
			margin-top: 0
			letter-spacing: .1em
			+article-category
			font-size: .7em!important

	aside.sub-category
		+span-columns(6)
		omega()

		img
			height: 200px
			object-fit: cover

		article
			+span-columns(6)
			+article_type
			height: 340px

			h2
				+font($gotham, bold, normal)
				font-size: .7em
				margin-top: 1.8em

			p
				+font($surveyor-display,300,normal)
				font-size: .7em

			ul.post-categories
				margin-top: 0
				+article-category
				font-size: .7em!important
				position: absolute
				bottom: 0

	.first-article-fix
		margin-right: 2.35765%!important

	.border-fix
		border: 1px solid silver

	.second-ecommerce
		figure
			text-align: center
			margin-top: 5px
			height: 288px
			img
				height: 288px!important

	.first
		margin-right: 2.35765%!important


hr
	clear: both
	+media(min-width 320px max-width 850px, 1)
		display: none

